.title{
  color: purple;
  text-align: center;
  font-size: 60pt;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-image: url("disco.gif");
}


.button {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40pt;
  margin:auto;
  display:block;
  background-color: gray;
}
